[package]
name = "posish"
version = "0.5.6-alpha.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
description = "Safe Rust bindings to POSIX-ish libc APIs and syscalls"
documentation = "https://docs.rs/posish"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/bytecodealliance/posish"
edition = "2018"
keywords = ["api", "file", "network"]
categories = ["filesystem", "network-programming", "os::unix-apis"]
readme = "README.md"

[dependencies]
bitflags = "1.2.1"
cfg-if = "1.0.0"
errno = "0.2.7"
itoa = "0.4.7"
libc = { version = "0.2.82", features = ["extra_traits"] }

[badges]
maintenance = { status = "actively-developed" }
