[package]
name = "posish"
version = "0.16.3-alpha.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
    "Jakub Konka <kubkon@jakubkonka.com>",
]
description = "Safe Rust bindings to POSIX-ish libc APIs and syscalls"
documentation = "https://docs.rs/posish"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/bytecodealliance/posish"
edition = "2018"
keywords = ["api", "file", "network"]
categories = ["filesystem", "network-programming", "os::unix-apis"]
exclude = ["/.github"]

[build-dependencies]
cc = "1.0.68"
rustc_version = "0.4.0"

[dependencies]
bitflags = "1.2.1"
itoa = "0.4.7"
io-lifetimes = "0.2.0"
once_cell = "1.5.2"
cstr = "0.2.8"

[target.'cfg(any(posish_use_libc, not(all(any(target_os = "linux"), any(target_arch = "x86", all(target_arch = "x86_64", not(target_pointer_width = "32")), target_arch = "aarch64", target_arch = "riscv64")))))'.dependencies]
errno = "0.2.7"
libc = { version = "0.2.98", features = ["extra_traits"] }

[target.'cfg(all(not(posish_use_libc), any(target_os = "linux"), any(target_arch = "x86", all(target_arch = "x86_64", not(target_pointer_width = "32")), target_arch = "aarch64", target_arch = "riscv64")))'.dependencies]
linux-raw-sys = { version = "0.0.17", features = ["v5_4", "v5_11"] }

[dev-dependencies]
atty = "0.2.14"
tempfile = "3.2.0"
libc = "0.2.98"

[target.'cfg(not(target_os = "emscripten"))'.dev-dependencies]
criterion = "0.3"

[badges]
maintenance = { status = "actively-developed" }

# Add Criterion configuration, as described here:
# <https://bheisler.github.io/criterion.rs/book/getting_started.html#step-1---add-dependency-to-cargotoml>
[[bench]]
name = "mod"
harness = false
